.cours_wrapper {
  width: 100%;
  padding: 50px 0;
}
.card_cours {
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 2px 17px #e6e6e6;
  margin-bottom: 25px;
  .font1 {
    position: absolute;
    top: -50px;
    right: -20px;
    width: 200px;
    height: 200px;
    background: rgb(9, 197, 188);
    border-radius: 34% 66% 65% 35% / 66% 46% 54% 34%;
    opacity: 0.6;
  }
  .font2 {
    position: absolute;
    top: -100px;
    right: 25px;
    width: 300px;
    height: 300px;
    background: rgb(197, 9, 119);
    border-radius: 57% 43% 54% 46% / 38% 73% 27% 62%;
    opacity: 0.8;
  }
  .card_cours__title {
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 36px;
    color: #fff;
    font-weight: 900;
    font-family: sans-serif;
    opacity: 1;
    z-index: 3;
    margin: 0;
  }
  .card_cours__text {
    position: absolute;
    bottom: 70px;
    text-align: center;
    padding: 0 20px;
    font-size: 14px;
    font-weight: normal;
    font-family: "Montserrat Alternates", sans-serif;
    color: rgb(57, 84, 92);
    font-weight: 500;
    opacity: 1;
    z-index: 3;
    margin: 0;
  }
  .card_cours__btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 20px;
    opacity: 1;
    z-index: 3;
    margin: 0;
    button {
      outline: none !important;
      border-radius: 5px;
      border: none;
      width: 100px;
      height: 35px;
      background: rgb(197, 9, 119);
      color: #fff;
      font-size: 18px;
      font-weight: 500;
      a {
        text-decoration: none !important;
        color: #fff;
      }
    }
    button:hover {
      transition: all 0.5s ease-in-out;
      box-shadow: 0 2px 18px rgba(206, 206, 206, 0.747);
    }
  }
}

@media only screen and (max-width: 768px) {
  .card_cours {
    width: 100% !important;
    .card_cours__btn button {
      width: 150px;
      height: 45px;
    }
    .card_cours__text {
      bottom: 100px;
    }
  }
}
