.courser_wrapper {
  width: 100%;
  padding: 50px 0;
  & .course_wrapper__card {
    width: 250px;
    height: 330px;
    margin-bottom: 20px;
    background: #fff;
    box-shadow: 0px 2px 17px #e6e6e6;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    & .card__img {
      width: 120px;
      height: 120px;
      border: 2px solid rgb(55, 187, 180);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      & img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 50%;
      }
    }
    & .card__text {
      margin-top: 20px;
    }
    & .start_course {
      width: 100px;
      height: 35px;
      border-radius: 5px;
      box-shadow: 0px 5px 14px #37bbb47a;
      outline: none !important;
      border: none;
      color: #fff;
      font-weight: normal;
      background: rgb(55, 187, 180);
      & a {
        text-decoration: none !important;
        color: #fff;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .course_wrapper__card {
    width: 100% !important;
  }
  .start_course {
    width: 150px !important;
    height: 45px !important;
  }
}
