@media only screen and (max-width: 768px) {
  .modal__wrapper {
    width: 100%;
    .box1 {
      padding: 40px 0;
      .modal_c_img {
        position: relative;
        max-width: 100%;
        span {
          position: absolute;
          z-index: 2;
          color: #ffff;
          left: 15px;
          top: 15px;
          font-size: 22px;
          font-weight: 600;
        }
        img {
          width: 100em;
          height: 200px;
          object-fit: cover;
          border-radius: 8px;
          filter: brightness(65%);
        }
      }
    }
  }
  .list_cat_data {
    width: 100%;
    ul {
      li {
        list-style: none;
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
        img {
          border-radius: 8px;
          width: 100px;
          height: 100px;
          object-fit: cover;
        }
        .list_cat_info {
          width: 60%;
          p {
            font-size: 14px;
            color: rgb(129, 129, 129);
            margin: 10px 0 5px 0 !important;
            padding: 0 !important;
          }
          span {
            font-size: 18px;
            color: rgb(97, 97, 97);
            font-weight: bold;
          }
        }
      }
    }
  }
}
